<!DOCTYPE html>
<html>
    <head>
        <title>HBD pavan</title>
        <link href='https://fonts.googleapis.com/css?family=KhandMajor Mono Display|Sacramento' rel='stylesheet'>
         <link href="https://cdn.jsdelivr.net/sweetalert2/6.4.3/sweetalert2.min.css" rel="stylesheet"/> 
        <link href='https://fonts.googleapis.com/css?family=Charmonman|Frijole|Give You Glory|Caveat' rel='stylesheet'>
       <script>
        console.log=function(){};
        console.error=function(){};
        </script>
 
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
       
<script src="https://cdn.jsdelivr.net/sweetalert2/latest/sweetalert2.js"></script> 
       <input id="x" onclick='responsiveVoice.speak("Advanced Happy Birthday Vennela.Friend like you are very rare.Im blessed to have you in my life.Thank you for giving me so many reasons to smile.Youre so sweet dear.I wish you get all that you truly deserve.Stay happy and blessed dear");' type='button' value='🎁 Click me👈' />
        <h2 class="HB">HAPPY BIRTHDAY VENNELA</h2>

<p></p>
 
   </head> 
    <body>
      <style>
        h1,h2{
    text-align:center;
    font-size:30px;
}    
body {
background-image: url("https://www.jqueryscript.net/images/jQuery-Plugin-For-Snowfall-Effect-with-Rotating-Snowflakes.jpg");
background-repeat: repeat;
animation: fall 6s linear infinite;
background-color: black;
    color:yellow;
    font-family:Charmonman;
    font-size:50xp;
    
      
      
    
}
#Z{
        font-size:50px;
        top:70%;
        left:55%;
}
#X{
    font-size:40px;
    top: 55%;
    left: 60%;
}
#Y{
    font-size:50px;
    top:65%;
}
.HB {
    
    font-family: cursive;
    text-shadow: 0 0 4px black;
    font-size:40px;
    
    
    -webkit-animation: c 3s infinite;
    
    -ms-animation: c 5s infinite ;
    animation: c 5s infinite;
}
@-webkit-keyframes c{
    0%{color: red;}
    10%{color: purple;}
      20%{color: red;}
    30%{color: Blue;}
    40%{color: yellow;}
    50%{color: hotPink;}
    60%{color: green;}
  70%{color: orange;}
  80%{color: DeepPink;}
  90%{color: yellow;}
    100%{color: orange;}
}
div {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    
}
div:nth-child(7){
    background: radial-gradient(white, yellow);
    box-shadow: 0 0 10px 5px yellow;
    width: 50px;
    height: 50px;
    top: 65%;
    left: 75%;
     animation: ketan 5s infinite;
    
}
div:nth-child(6){
    background: radial-gradient(#fff, deepPink);
    box-shadow: 0 0 20px 5px deepPink;
    width: 50px;
    height: 50px;
    top: 22%;
    left: 75%;
    animation: ketan 5s infinite;
    
}
div:nth-child(8){
    background: radial-gradient( white,red);
    box-shadow: 0 0 20px 5px red;
  width: 50px;
    height: 50px;
    top: 23%;
    left: 13%;
   animation: ketan 5s infinite;
     
}
div:nth-child(9){
    background: radial-gradient(white,blue);
    box-shadow: 0 0 15px 5px blue;
    width: 50px;
    height: 50px;
    top: 65%;
    left: 30%;
    animation: ketan 5s infinite;
    
}
div:nth-child(10){
    background: radial-gradient(#fff, Violet);
    box-shadow: 0 0 20px 5px Violet;
    width: 55px;
    height: 55px;
    top: 3%;
    left: 43%;
    animation: ketan 5s infinite;
    
    }
@keyframes ketan {
    0% {
        opacity: 2.5
    }
    50% {
        opacity: 1.5;
    }
    100% {
        opacity: 0.1;
    }
}
  
    
  
@keyframes fall {
0% { background-position: 0px 50px; }
100% { background-position: 0px 500px;}
}
      </style>

    
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      
       
    </body>
    <div id="Z" onclick="Z()">😊</div>
    <div id="X" onclick="X()">😄﻿🎈 Happy Birthday friend
     🔥      🔥      🔥
     💟      💟      💟
     💟      💟      💟
🍰🍰🍰🍰🍰🍰🍰🍰
🍰🍰🍰🍰🍰🍰🍰🍰
🍰🍰🍰🍰🍰🍰🍰🍰
🍰🍰🍰🍰🍰🍰🍰🍰
👑👑👑👑👑👑👑👑
</div>
    <div id="Y" onclick="Y()">😹</div>
    
</html>